body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, .container {
  background-color: rgb(249, 239, 226);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 15vh;
  width: 100vh;
  display: flex;
}

.dark body {
  background-color: rgb(0, 0, 0);
}

.dark .container {
  background-color: rgb(0, 0, 0);
}


