 /* body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
} 

body {
  margin: 0;
  padding: 0;  
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(249, 239, 226);;
  background-size: cover;  
}

.container{
  margin: 0;
  padding: 10px;  
  background-position: center;
  background-repeat: no-repeat;
  background-color:lightcoral;
  background-size: cover;  
  margin-top:10vh;
  width: 100%;
}

body, .container {
  background-color: rgb(249, 239, 226);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top:5vh;
  width: 100vh;
  display: flex;
} 


 */
/*-->*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html, #root{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
}
.app-container{
  /* background-color: aqua;
  display: flex;
  height:calc(100vh-60px); */
  flex: 1;
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  margin:0;
  padding:0;
  background-color: rgb(255, 213, 213);
  overflow-x: hidden;
}

.app-container.dark{
  background-color: rgb(55, 48, 48);
}