.forgot-password-container {
  max-width: 400px;
  margin: 150px auto 60px auto ;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: rgba(235, 235, 235, 0.8);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.forget-password {
  color: black;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.dark .forget-password{
  color: rgba(255, 255, 255, 0.537);
}

.dark .forgot-password-container {
  background-color: #092143;
  border-color: black;
}


.forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.form-group {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.form-group label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
  font-weight: 650;
}

.dark .form-group label, ::placeholder{
  color: rgba(255, 255, 255, 0.537);
}

.form-group input {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
}

.dark .form-group input {
  color: rgb(0, 0, 0);
  font-weight: 500;
  background-color: rgba(122, 156, 229, 0.955);
}

.form-group input:focus {
  border-color: #007bff;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 10px;
}

.request-btn {
  background-color: #861f1f;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.request-btn:hover {
  background-color: #0056b3;
}
