


.btn-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 10px;

}

.btn-container button{
    background-color: rgb(93, 100, 100);
    color: rgb(255, 255, 255);
    border: none;
    padding: 2px 16px;
    margin: 5px;
    cursor: pointer;
    font-size: 10px;

}
.profile-info{
    margin-top:0;
}

.button-row {
  display: flex;
  justify-content: space-between; 
  margin-top: 20px;
  gap: 20px;
  padding: 0 10px;
}

.change-pwd-btn,
.save-btn {
  background-color: #861f1f;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;              
  max-width: 200px;   
} 

