.login-header{
  color: rgb(106, 6, 6);
  text-align: center;
}

.login-links {
  margin-top: 10px;
  text-align: center;
}

.forgot-pw-link  {
  color: #007bff;
  text-decoration: none;

}

.register-link a {
  color: #007bff;
  text-decoration: none;

}



.register-link {
  margin-top: 10px;
  text-align: center;
}

.login-links a:hover {
  text-decoration: underline;
}

.login-btn {
  display: block;          /* Make it take the full line */
  margin: 20px auto;       /* Center horizontally with auto left/right margins, and add vertical space */
  width: 80%;            /* Increase width as you like */
  padding: 10px 0;         /* Add some vertical padding */
  font-size: 16px;         /* Make text a bit bigger */
  cursor: pointer;         /* Change cursor on hover */
  border-radius: 20px;      /* Optional: rounded corners */
  border: none;            /* Optional: remove default border */
  background-color: rgb(106, 6, 6);; /* Optional: blue background */
  color: white;            /* Optional: white text */
}



.login-form label {
  font-size: 16px;
  font-weight: 540;
  padding: 15px;
  margin-bottom: 10px;
  color: rgb(77, 77, 77);
  display: inline-block;
  width: 130px;
  
}


.login-form {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px 40px;
  width: 500px;
  margin: 120px auto 150px auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="date"],
.login-form input[type="tel"],
.login-form input[type="number"],
.login-form select {
  width: 60%;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
}


input#pwd {
  padding-right: 30px;
}


.login-form svg {
  position: relative;
  left: -30px;
  top: 2px;
  cursor: pointer;
}


.login-form {
  position: relative;
}


.login-form label input[type="checkbox"] {
  margin-right: 6px;
  vertical-align: middle;
}


.login-form label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}


.login-form label:has(input[type="checkbox"]) {
  
  display: contents;
  align-items:  center;
  gap: 3px;
  margin-left: 1px;
  margin-bottom: 5px;
 
}

.forget-pwd-container{
  width:100%;
  display:inline-flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  padding-left:15px;
  padding-right: 30px;

  
}

/* .remeber-me-check {
  padding-left:15px;
  display: inline-flex;  
  align-items: center;   
  justify-content: flex-start; 
  width:90%;       
}

.forgot-pw-link{
  
} */

