.campreg-container{
  margin-top:30px;
  margin-left:380px;
}

.location-field {
  width:100%;
  display:inline-flex ;
  align-items: top;
  gap: 4px;
  
}



.map-icon-btn {
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 45px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.2s;
}

.map-icon-btn:hover {
  background: #e6e6e6;
}

.address-hint {
  display: block;
  margin-top: 4px;
  font-size: 0.9rem;
  color: #666;
}
